 .button {
     border: none;
     background: orange;
     padding-top: 15px;
     padding-bottom: 15px;
     padding-left: 15px;
     padding-right: 15px;
     border-radius: 10px;
     font-size: 15px;
     color: white;
 }
 
 .content {
     background: #81aedb;
     padding-top: 40px;
     padding-bottom: 40px;
 }
 
 .text {
     font-size: 30px;
     margin-bottom: 30px;
 }
 
 .banner {
     width: 700px;
     margin-right: auto;
     margin-left: auto;
     padding-top: 100px;
     padding-bottom: 100px;
     color: white
 }
 
 .column {
     width: 210px;
     height: 300px;
     background: #e0ded7;
     margin-left: 10px;
     margin-right: 10px;
 }
 
 .dblColumn {
     width: 420px;
     background-image: url(main-vezdesuschij-brandshop-teper-i-v-telegram-1300x600-1300x600a.jpg);
     padding-top: 40px;
     padding-bottom: 40px;
     margin-left: 10px;
     margin-right: 10px;
     text-align: center;
 }
 
 .flex {
     display: flex;
     width: 900px;
     margin-right: auto;
     margin-left: auto;
 }
 
 .column img {
     width: 205px;
     height: 300px
 }
 
 body {
     background: #30293D;
     margin: 0;
     font: 36px/48px 'Stem-Medium', Arial, sans-serif
 }
.body {
    margin: 0
}

.h {
    Color: black;
    border: none;
    font-family: Arial;
    font-size: 50px;
    margin: 0;
    margin-left: 100px;
    margin-top: 150px;
}

.main {
    height: 800px;
}

.first {
    height: 275px;
    background: orange;
    display: flex;
}

.second {
    height: 550px;
    display: flex;
}

.box1 {
    width: 350px;
    height: 550px;
    background: #ffb631;
}

.box2 {
    width: 1000px;
    height: 550px;
    background: #e09f28;
    display: flex;
}

div .food {
    height: 500px;
    width: 225px;
    margin-left: 25px;
    background: gold;
    border: none;
    margin-top: 25px;
    border-radius: 45px;
    text-align:center;
}

.box2 img {
    width: 200px;
    height: 200px;
    border-radius: 45px;
    margin-top: 25px;
}
.hfood{
    font-family: Arial;
    font-size: 23px;
}
button{
    border-radius: 40px;
    background: orange;
    border: none;
    color: white;
    font-family: Arial;
    font-size: 15px;
    padding: 20px;
}
div p{
    font-size: 15px;
    font-family: Arial;
}
button:hover{
    transition: 0.8s;
    background:#ffbb3e
}
 

